body, html {
  height: 100%;
  background-image: linear-gradient(135deg, #B5AA9D, #747274);
}

.container {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.content-container {
  margin: auto;
  padding: 25px 50px;
  min-height: 500px;
  min-width: 430px;
  background: #fff;
  border-left: 6px solid #4E5166;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
  color: #666;
}

form {
  margin-bottom: 15px;
}

.alert {
  max-width: 325px;
}

.nav {
  margin-bottom: 10px;
}

.active-nav {
  border-bottom: 1px solid #0275d8;
}

.back {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}

.btn-block {
  margin-bottom: 15px;
}

.loader {
  position: relative;
  min-height: 25px;
  min-width: 25px;
}

.page-header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.recharts-wrapper {
  margin: 0 auto;
}

.voting-banner {
  margin: 0 auto;
}
